{% extends 'index.html' %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/homepage-style.css' %}">
{% endblock extrahead %}

{% block content %}
<div class="std-box" id="general-instructions">
    <img src="{% static 'imgs/icons/paper.svg' %}" alt="General Instructions" />
    <p>General instructions:</p>

    <ol>
        <li>Upload the trace in CSV format via the "Upload" button;</li>
        <li>Select metrics and configure parameters for processing (if not specified, parameters are set   to a default value);</li>
        <li>Select the plots to be generated;</li>
        <li>Press the "Submit" button to start the procedures.</li>
    </ol>
</div>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="std-box" id="upload-raw">
        <img src="{% static 'imgs/icons/file.svg' %}" alt="Upload Raw Trace" />
        <p>Upload raw trace:</p>
        <div id="drag-drop">Drag and drop here or</div>
        <label for="file-input">Select from computer</label>
        <input type="file" id="file-input" name="trace"/>
    </div>

    <!-- <button type="submit">UPLOAD</button> -->

    <div class="std-box" id="configuration">
        <img src="{% static 'imgs/icons/config.svg' %}" alt="Configuration Parameters" />
        <p>Configuration parameters:</p>
        <ul id="parameters">
            <li>
                <span class="help">?
                    <div class="help-text">
                        Maximum distance to a region be considered a Stay-location.
                    </div>
                </span>
                Max distance: 
            </li><input type="text" placeholder="default = 30 m" name="configuration">
            <li>
                <span class="help">?
                    <span class="help-text">
                        Ammout of waiting time to the Stay-location be considered a Geo-location (in minutes).
                    </span>
                </span>
                Pause threshold: 
            </li><input type="text" placeholder="default = 10 min" name="configuration">
            <li>
                <span class="help">?
                    <span class="help-text">
                        Contact radius of the nodes.
                    </span>
                </span>
                Contact radius: 
            </li><input type="text" placeholder="default = 20 m" name="configuration">
            <li>
                <span class="help">?
                    <span class="help-text">
                        Distance formula. Supported types are: Haversine and Euclidean.
                    </span>
                </span>
                Distance formula: 
            </li><input type="text" placeholder="default = euclidean" name="configuration">
            <li>
                <span class="help">?
                    <span class="help-text">
                        This configuration parameter will still be added, leave empty.
                    </span>
                </span>
                To be added: 
            </li><input type="text" placeholder="default = NaN">
        </ul>
    </div>
    
    <div class="std-box" id="metrics">
        <img src="{% static 'imgs/icons/calc.png' %}" alt="Choose Metrics" />
        <p>Choose metrics: </p>
    
        <div class="metric-types">Spatial: 
            <div class="metric"><input type="checkbox" name="metric" value="TRVD" />Travel Distance</div>
            <div class="metric"><input type="checkbox" name="metric" value="RADG" />Radius of Gyration</div>
            <!-- <div class="metric"><input type="checkbox" name="TOTD" />Total Distance</div> -->
        </div>
        <div class="metric-types">Temporal: 
            <div class="metric"><input type="checkbox" name="metric" value="TRVT" />Travel Time</div>
            <div class="metric"><input type="checkbox" name="metric" value="VIST" />Visit Time</div>
        </div>
        <div class="metric-types">Social:
            <div class="metric"><input type="checkbox" name="metric" value="INCO" />Intercontact Time</div>
            <div class="metric"><input type="checkbox" name="metric" value="CODU" />Contact Duration</div>
        </div>
        <div class="metric-types">Spatiotemporal: 
            <div class="metric"><input type="checkbox" name="metric" value="VISO" />Visit Order</div>
            <div class="metric"><input type="checkbox" name="metric" value="ASPD" />Average Speed</div>
        </div>
        <div class="show-metrics">
            <input type="checkbox" checked name="display_metrics" value="display">
            Display Tables
        </div>
    </div>
    
    <div class="std-box" id="plots">
        <img src="{% static 'imgs/icons/chart.png' %}" alt="Select Plots" />
        <p>Select plots: </p>
        <ul id="select-plots">
            <li>
                <span class="help">?
                    <span class="help-text">
                        Plots statistical graphs and histograms about the extracted metrics.
                    </span>
                </span><input type="checkbox" checked name="plot" value="statistical">
                Statistical plots (metrics)
            </li>
            <li>
                <span class="help">?
                    <span class="help-text">
                        Plots spatial graphs about the trace.
                    </span>
                </span><input type="checkbox" checked name="plot" value="spatial">
                Spatial plots (trace)
            </li>
            <li>
                <span class="help">?
                    <span class="help-text">
                        Select plots manually.
                    </span>
                </span><input type="checkbox">
                Specify plots
            </li>
        </ul>
    </div>
    <button type="submit" id="submit-button">SUBMIT</button>
</form>

{% if tables and display_metrics %}
<h2 class="media-division"><img src="{% static 'imgs/icons/table.svg' %}" alt="Tables Content" />Tables: Metrics Data</h2>
    <div class="table-scroller">
    {% for table in tables %}
        <div class="table-element">
            {{ table|safe }}
            <button id="download-button">DOWNLOAD</button>
        </div>
    {% endfor %}
    </div>
{% endif %}

{% if figures_spatial %}
<h2 class="media-division"><img src="{% static 'imgs/icons/gps.svg' %}" alt="Spatial Figures Content" />Figures: Spatial Plots</h2>
    <div class="figure-scroller">
    {% for figure in figures_spatial %}
        <div class="figure-element">
            {{ figure|safe }}
            <button id="download-button">DOWNLOAD</button>
        </div>
    {% endfor %}
    </div>
{% endif %}

{% if figures_statistical %}
<h2 class="media-division"><img src="{% static 'imgs/icons/boxplot.svg' %}" alt="Spatial Figures Content" />Figures: Statistical Plots</h2>
    <div class="figure-scroller">
    {% for figure in figures_statistical %}
        <div class="figure-element">
            {{ figure|safe }}
            <button id="download-button">DOWNLOAD</button>
        </div>
    {% endfor %}
    </div>
{% endif %}

{% endblock content %}