{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MobVis: Easily visualize mobility data</title>
    <link rel="stylesheet" href="{% static 'frontpage/css/header-style.css' %}">
    <link rel="icon" href="{% static 'frontpage/imgs/small_logo.svg' %}">
    {% block extrahead %}
        Specific head configurations here!
    {% endblock extrahead %}
</head>
<body>
    <header>
        <div class="top-bar"></div>
        <div class="top-circles" id="circle1"></div>
        <div class="top-circles" id="circle2"></div>
        <a href="https://ufop.br/" target="_blank">
            <img src="{% static 'frontpage/imgs/logo_ufop.png' %}"
                 alt="UFOP logo"
                 class="ufop-logo"
                 title="Universidade Federal de Ouro Preto" />
        </a>
       <img src="{% static 'frontpage/imgs/full_logo.svg' %}"
            alt="MobVis Logo"
            class="top-logo"
            title="MobVis: A framework to easily visualize mobility data" />

        <span class="top-phrase">A framework to easily visualize mobility data</span>
        <div class="navbar-bar"></div>

        <nav class="navbar">
            <a href="home.html">HOME</a>
            <a href="project.html">PROJECT</a>
            <a href="contact.html">CONTACT</a>
        </nav>
    </header>
    {% block content %}
        Current page content here!
    {% endblock content %}
</body>
</html>