.top-logo {
    position: relative;

    /* width: 403.16px;
    height: 80px; */
    min-width: 200px;
    width: 22%;
    height: 22%;

    left: 39%;
    top: 32px;
}

.top-phrase {
    position: relative;

    /* width: 480px;
    height: 50px; */
    min-width: 240px;
    width: 36%;
    height: 26%;

    left: 32%;
    top: 28px;

    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    color: #000;
}

.top-bar {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 180px;

    padding: 0;
    margin: 0;

    align-items: center;

    background: #DDE2ED;
}

.top-circles {
    position: absolute;

    top: -1%;

    min-height: 200px;
    height: 14vw;

    background: #FFF;
}

#circle1 {
    border-radius: 50%;

    left: 36%;

    min-width: 200px;
    width: 14vw;
}

#circle2 {
    border-radius: 100% 0 0 100% / 50% 0 0 50%;

    left: 93%;

    min-width: 100px;
    width: 7vw;
}

.bottom-logo {
    position: absolute;

    display: flex;

    margin-top: 22px;
    /* margin-left: 20px; */
    left: 44%;

    /* width: 240px;
    height: 47.64px; */
    min-width: 180px;
    width: 14%;
    height: 14%;
}

.github-logo {
    position: absolute;

    display: flex;

    margin-top: 84px;
    /* margin-left: 130px; */
    left: 50.4%;
}

.thanks-phrase {
    position: relative;

    font-family: 'Calibri';
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;

    left: 38.5%;
    top: 120px;

    min-width: 360px;
    width: 50%;
    height: 30px;

    color: #000;
}

.institutions {
    position: relative;

    display: inline-block;

    top: 120px;
    left: 2%;
}

footer {
    position: relative;

    border-top: 6px solid rgba(204, 209, 220, 0.5);

    margin-top: 160px;

    left: 0;
    /* bottom: -400px; */
    bottom: 0;

    width: 100%;
    height: 280px;

    background-color: rgba(221, 226, 237, 0.5);
    text-align: center;
}

footer a {
    text-decoration: none;
}

.logo {
    position: inherit;
    display: inline-block;

    margin-right: 16px;
    margin-top: 10px;
    margin-left: 16px;

    align-items: center;
    text-align: center;
    vertical-align: middle;
}

#ufop {
    width: 1.8%;
    height: 26%;
}

#ufes {
    width: 4.5%;
    height: 18%;
}

#fkie {
    width: 7%;
    height: 15%;
}

#fapemig {
    width: 4%;
    height: 20%;
}

.navbar-bar {
    position: absolute;

    top: 160px;
    left: 0;

    width: 100%;
    height: 42px;

    padding: 0;
    margin: 0;

    align-items: center;

    background: #CCD1DC;
}

.navbar {
    position: absolute;

    display: inline;

    left: 0%;
    top: 162px;

    width: 100%;
    height: 42px;

    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    align-items: center;
    text-align: center;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar a {
    text-decoration: none;
    color: #FFF;

    margin: 10px;
}

.navbar a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transition: 260ms;
}