body {
    width: 1860px;
    height: 1840px;

    padding-bottom: 420px;

    position: relative;

    background: #FFF;
}

.top-logo {
    position: relative;

    width: 403.16px;
    height: 80px;

    left: 39.16%;
    top: 32px;
}

.top-phrase {
    position: relative;

    width: 480px;
    height: 50px;

    left: 38.35%;
    top: 24px;

    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000;
}

.top-bar {
    position: absolute;

    top: -8px;
    left: -8px;

    width: 102.3%;
    height: 180px;

    padding: 0;
    margin: 0;

    align-items: center;

    background: #DDE2ED;
}

.top-circles {
    position: absolute;

    top: -65px;

    height: 300px;

    background: #FFF;
}

#circle1 {
    border-radius: 50%;

    left: 670px;

    width: 300px;
}

#circle2 {
    border-radius: 100% 0 0 100% / 50% 0 0 50%;

    left: 1745px;

    width: 150px;
}

.bottom-logo {
    position: absolute;

    display: flex;

    margin-top: 22px;
    /* margin-left: 20px; */
    left: 44.5%;

    width: 240px;
    height: 47.64px;
}

.github-logo {
    position: absolute;

    display: flex;

    margin-top: 84px;
    /* margin-left: 130px; */
    left: 50.4%;
}

.thanks-phrase {
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;

    padding-left: 760px;
    padding-top: 120px;

    color: #000;
}

footer {
    position: absolute;

    border-top: 6px solid rgba(204, 209, 220, 0.5);

    left: -8px;
    bottom: -172px;

    width: 102.3%;
    height: 280px;

    background-color: rgba(221, 226, 237, 0.5);
    text-align: center;
}

footer a {
    text-decoration: none;
}

.logo {
    position: inherit;
    display: inline-block;

    margin-right: 16px;
    margin-top: 10px;
    margin-left: 16px;

    align-items: center;
    text-align: center;
    vertical-align: middle;
}

#ufop {
    width: 40px;
    height: 92.65px;

    padding-left: 80px;
}

#ufes {
    width: 80px;
    height: 43.76px;

    top: 100px;
}

#fkie {
    width: 120px;
    height: 42.75px;
}

#fapemig {
    width: 80px;
    height: 67.04px;
}

.navbar-bar {
    position: absolute;

    top: 172px;
    left: -8px;

    width: 102.3%;
    height: 50px;

    padding: 0;
    margin: 0;

    align-items: center;

    background: #CCD1DC;
}

.navbar {
    position: relative;

    display: inline;

    left: 37.5%;
    top: 46px;

    height: 38px;
    width: 124px;

    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    align-items: center;
    text-align: center;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar a {
    text-decoration: none;
    color: #FFF;

    margin: 10px;
}

.navbar a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transition: 260ms;
}