* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;

    position: absolute;

    background: #FFF;
}

.std-box {
    position: relative;

    top: 100px;

    min-width: 640px;
    width: 52%;
    height: 300px;

    left: 26%;

    margin-top: 20px;

    background: #F3F3F3;
    border-radius: 10px;

    justify-content: center;
}

.std-box img {
    position: inherit;

    width: 5%;
    height: 36px;

    top: 16px;
    left: 16px;

    z-index: 2;
}

.std-box p {
    position: inherit;

    top: -7%;
    left: 8%;

    width: 40%;
    height: 26px;

    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;

    color: #000;
}

.std-box ol {
    position: inherit;

    width: 80%;
    height: 80%;

    left: 10%;
    top: 0%;

    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700;
    font-size: calc(14px + 0.4vw);
    line-height: 34px;
    display: inline-block;
    align-items: center;

    color: #000;
}

.std-box ul {
    position: inherit;

    list-style-type: none;

    width: 100%;

    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700;
    font-size: calc(14px + 0.4vw);
    display: inline-block;

    color: #000;
}

.std-box #parameters {
    top: 2%;
    left: 27.4%;

    line-height: 22px;
}

.std-box #select-plots {
    top: 0;
    left: 36%;

    line-height: 52px;
}

.std-box label {
    position: inherit;

    width: 20%;
    height: 76px;

    left: 20%;
    top: 72px;

    background: #CCD1DC;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;

    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    display: inline-block;
    align-items: center;
    text-align: center;
    vertical-align: middle;

    color: #000000;
}

.std-box input[type=text] {
    position: inherit;
    display: inline-block;

    top: -26px;
    left: 225px;

    width: 196px;
    height: 28px;

    background: #FFF;
    border: 1px solid #000;
    box-sizing: border-box;
}

.std-box input[type=text]::placeholder {
    position: inherit;

    width: 194px;
    height: 26px;
    
    right: 8px;

    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: right;
    
    color: #DBDBDB;
}

.std-box input[type=checkbox] {
    position: relative;
    display: inline-block;

    width: 18px;
    height: 18px;

    top: 5px;
    right: 2px;
}

.std-box input[type=checkbox]:hover {
    cursor: pointer;
}

.help {
    position: inherit;

    margin-right: 8px;

    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    align-items: center;
    text-align: center;

    color: #4D5058;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.help-text {
    visibility: hidden;

    background-color: #000;
    color: #FFF;
    text-align: center;
    border-radius: 8px;

    font-weight: 400;
    font-size: 18px;

    padding: 5px 0;

    position: absolute;
    z-index: 1;
}

.help:hover {
    cursor: pointer;
    transition: 280ms;
}

.help:hover .help-text {
    visibility: visible;
}

.metric-types {
    position: inherit;

    display: inline-block;

    width: 22%;
    height: 280px;

    margin: 6px;

    top: 0;
    left: 3%;

    background-color: #FFF;
    border-radius: 10px;

    font-family: 'Calibri';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 44px;
    align-items: center;
    text-align: center;

    color: #000;
}

.metric {
    position: inherit;

    font-size: 20px;

    left: 20px;

    text-align: left;
}

/* #general-instructions {
    top: 100px;
} */

/* #upload-raw {
    top: 146px;
} */

#file-input {
    opacity: 0;
}

#drag-drop {
    position: inherit;

    width: 20%;
    height: 84px;

    left: 40%;
    top: 0;

    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: inline-block;
    align-items: center;
    text-align: center;

    color: #000;
}

#configuration {
    position: relative;

    height: 340px;

    /* top: 195px; */
}

#metrics {
    position: relative;

    height: 380px;

    /* top: 248px; */
}

#plots {
    position: relative;

    /* top: 300px; */
}

button {
    position: relative;

    width: 10%;
    height: 56px;

    left: 45%;
    top: 180px;

    background: #CCD1DC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;

    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: inline-block;
    align-items: center;
    text-align: center;

    color: #000000;
}

#submit-button {
    position: relative;

    top: 120px;
}

button:hover, label:hover{
    background-color: rgba(0, 0, 0, 0.2);
    transition: 260ms;
    cursor: pointer;
}

.tables {
    position: relative;

    display: flex;

    top: 380px;

    width: fit-content;
    height: fit-content;

    margin-top: 10px;
    margin-bottom: 10px;

    background: #F3F3F3;
    border-radius: 10px;

    align-items: center;
    justify-content: center;
}

.figures {
    position: relative;

    display: flex;

    width: fit-content;
    height: fit-content;

    margin-top: 10px;
    margin-bottom: 10px;

    background: #F3F3F3;
    border-radius: 10px;

    align-items: center;
    justify-content: center;
}

.tables_content {
    font-size: 11pt; 
    font-family: Arial;
    border-collapse: collapse; 
    border: 1px solid silver;

}

.tables_content td, th {
    padding: 5px;
}

.tables_content tr:nth-child(even) {
    background: #E0E0E0;
}

.tables_content tr:hover {
    background: silver;
    cursor: pointer;
}